html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fafafa;
  color: #252525;
  font-family: "Inter", sans-serif;
}

/* Navigation */
.nav,
footer .content .bottom .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  letter-spacing: -3%;
  line-height: 1.4;
}
.menu {
  display: flex;
  gap: 1rem;
}
.menu a {
  transition: 0.3s;
  color: #727272 !important;
  text-decoration: none;
}
.menu a:hover {
  color: #252525 !important;
  text-decoration: underline;
}

/* Container Layout */
.container {
  margin: 0 auto;
}
header {
  background: #fff;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

/* Hero Section */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  min-height: 37rem;
  padding: 3rem 4rem;
}
.hero .left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
.hero .left .people {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.hero .left .people .img-group img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.hero .left .people .img-group img:nth-child(2),
.hero .left .people .img-group img:nth-child(3) {
  margin-left: -1.1rem;
}
.hero .left .people p {
  font-size: 1.1rem;
  color: #252525;
  letter-spacing: -3%;
}
.hero .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero h1,
.list-ps .text h1,
footer .header h1,
.meja-content h1,
.history-content h1 {
  font-size: 3rem;
  color: #252525;
  letter-spacing: -4%;
  line-height: 1.1;
  font-weight: normal;
}
.hero p,
.list-ps .text p,
.content-payment p,
.content-payment form,
.history-content .history-detail .text p,
.meja-content form .buttons .info p,
.modal-container .modal .header p,
.modal-konfirmasi-container .modal .header p {
  font-size: 1.1rem;
  color: #727272;
  letter-spacing: -3%;
  line-height: 1.4;
}
.hero .buttons {
  display: flex;
  gap: 1rem;
}
.btn {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  letter-spacing: -3%;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.btn-primary {
  background-color: #252525;
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.btn-primary:disabled {
  background-color: #252525;
  color: #727272;
  cursor: not-allowed;
  opacity: 0.7;
}
.btn-secondary {
  background-color: transparent;
  color: #252525;
  border: 2px solid #252525;
}
.btn-cta {
  background-color: #fff;
  color: #252525;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.hero .right .image-cover {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

/* PS Category List */
.list-ps {
  padding: 4rem;
  background-color: #121212;
}
.list-ps .text {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 2rem;
}
.list-ps .text p {
  text-align: right;
  color: #f1f1f1;
}
.list-ps .text h1 {
  color: #f1f1f1;
}
.ps-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 1.25rem;
}
.ps-card {
  overflow: hidden;
  border: 1px solid #252525;
  transition: 0.3s;
}
.ps-card img {
  width: 100%;
  height: 20rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  padding: 1rem;
}
.ps-info {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ps-info .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  color: #f1f1f1;
}
.ps-price {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  gap: 2rem;
}
footer .header {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
footer .content .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
footer .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .content .img-logo {
  width: 100%;
  height: auto;
}

/* Meja PS */
.meja-content,
.history-content {
  padding: 4rem;
  background-color: #fafafa;
}
.meja-content .denah-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.meja-content .denah-container .kamar-mandi-kasir {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}
.meja-content .denah-container .teras-pintu {
  display: grid;
  grid-template-rows: 2fr 1.5fr 2fr;
}
.meja-content .denah-container .kamar-mandi-kasir span,
.meja-content .denah-container .teras-pintu span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  border: 2px solid #252525;
}
.meja-content .denah-container .kamar-mandi-kasir .kasir {
  border-top: none;
  border-bottom: none;
}
.meja-content .denah-container .teras-pintu .pintu {
  border: none;
}
.meja-content .denah-container .meja-container {
  width: 100%;
}
.meja-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  row-gap: 10rem;
  padding: 2.5rem;
  height: 100%;
  border: 2px solid #252525;
  border-left: none;
  border-right: none;
}
.meja-item input {
  display: none;
}
.meja-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background: #fff;
  transition: 0.2s;
  height: 100%;
}
.meja-box.available {
  background: #0f5132;
  color: #22c55e;
}
.meja-box.booked {
  background: #450a0a;
  color: #ef4444;
  cursor: not-allowed;
  opacity: 0.7;
}
.meja-item input:checked + .meja-box {
  background: #22c55e;
  border: 2px solid#1aa74e;
  box-shadow: 0 0 12px rgba(34, 197, 94, 0.6);
  color: #fff;
}
.meja-content form .buttons {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 6rem;
}
.meja-content form .buttons .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #fff;
  border: 1px solid #d1d5db;
  padding: 2.5rem;
}
.meja-content form .buttons .info .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meja-content form .buttons .info .header .ps-price {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -4%;
  margin-bottom: 1rem;
  margin: 0;
}
.meja-content form .buttons button {
  height: fit-content;
  width: 100%;
}
.meja-content form .buttons .booking h1 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -4%;
  margin-bottom: 1rem;
}

/* 3 Steps Form */
.content-payment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.content-payment .payment-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.content-payment form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 4rem 4rem 2rem !important;
  color: #252525;
}
.content-payment .form-content {
  width: 100%;
}
.content-payment h1 {
  font-size: 3rem;
  color: #252525;
  letter-spacing: -4%;
  line-height: 1.1;
  font-weight: normal;
}
.content-payment .text {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  gap: 0.5rem;
}
.content-payment .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.content-payment .buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content-payment .forms {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}
.content-payment .form-group input,
.content-payment .form-group select {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #d1d5db;
  /* border-radius: 4px; */
}
.content-payment .form-jam-main .meja-durasi .forms {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 0;
}
.content-payment .form-jam-main .meja-durasi .detail-meja .no-meja {
  font-size: 1.5rem;
  font-weight: bold;
}
.content-payment form input::placeholder {
  font-size: 0.9rem;
  color: #727272;
  letter-spacing: -3%;
}
.content-payment .form-jam-main .meja-durasi .detail-meja {
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1.5rem;
  border: 1px solid #d1d5db;
}
.form-pembayaran .total-display {
  display: flex;
  flex-direction: column;
}
.form-pembayaran .price-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d1d5db;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}
.form-pembayaran .price-display svg {
  width: 2.5rem;
  height: 2.5rem;
}
.form-pembayaran .total-display #display-total {
  font-size: 2rem;
  font-weight: bold;
}
.form-pembayaran .forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.form-pembayaran label {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 1rem;
  width: 100%;
  border: 1px solid #d1d5db;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}
.form-pembayaran label input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}
.form-pembayaran label:has(input[type="radio"]:checked) {
  border: 2px solid #252525;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(148, 148, 148, 0.1);
}
.form-pembayaran label:hover {
  border-color: #9ca3af;
  background-color: #fff;
}
.form-pembayaran label svg {
  width: 2rem;
  height: 2rem;
}
.form-jam-main,
.form-data-diri,
.form-pembayaran {
  display: none;
}
.form-jam-main.active,
.form-data-diri.active,
.form-pembayaran.active {
  display: block;
}

/* Modal Konfirmasi */
.modal-container.active {
  position: absolute;
  width: 100%;
  height: 100dvh;
  background-color: #00000081;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}
.modal-container {
  opacity: 0;
  visibility: hidden;
}
.modal-container .modal,
.modal-konfirmasi-container .modal {
  background-color: #fff;
  width: fit-content;
  padding: 3rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.modal-container .modal .img-qris-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 1.1rem;
  color: #727272;
  letter-spacing: -3%;
  line-height: 1.4;
}
.modal-container .modal .img-qris-code b {
  color: #252525;
}
.modal-container .line {
  display: block;
  border: 1px solid #f1f1f1;
  width: 100%;
}
.modal-container .modal .header,
.modal-konfirmasi-container .modal .header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.35rem;
}
.modal-container .modal .header h1,
.modal-konfirmasi-container .modal .header h1 {
  font-size: 2rem;
  letter-spacing: -4%;
  font-weight: normal;
}
.modal-container .modal .data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-container .modal .buttons,
.modal-konfirmasi-container .modal .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.modal-container .modal .buttons button,
.modal-konfirmasi-container .modal .buttons button {
  width: 100%;
}
.modal-container .modal .data .data-diri,
.modal-container .modal .data .tipe-ps,
.modal-container .modal .data .meja-durasi-modal,
.modal-container .modal .data .metode-pembayaran,
.modal-container .modal .data .total-bayar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.modal-container .modal .data .data-diri .nama-telp {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.modal-container .modal .data .total-bayar b {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
}
.modal-container .modal .data .total-bayar {
  padding: 1rem;
  background-color: #fafafa;
  border: 1px solid #f1f1f1;
}
.modal-container .modal .data .meja-durasi-modal .meja {
  padding: 0.5rem 1rem;
  margin: 0;
  background-color: #fafafa;
  border: 1px solid #f1f1f1;
}
.modal-konfirmasi-container {
  visibility: hidden;
  opacity: 0;
}
.modal-konfirmasi-container.active {
  display: none;
  position: absolute;
  width: 100%;
  height: 100dvh;
  background-color: #00000081;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

/* Riwayat Pesanan */
.history-content .history-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
  padding: 4rem;
}
.history-content {
  padding: 4rem;
}
.history-content .history-detail .text h1 {
  font-size: 2.5rem;
  color: #252525;
  letter-spacing: -4%;
  line-height: 1.1;
  font-weight: normal;
}
.history-content .history-detail .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.history-content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.history-content .history-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.history-content .history-list .history-card {
  border: 1px solid #252525;
  padding: 1.5rem;
}
.history-content .history-list .history-card .ps-name,
.history-content .history-list .history-card .history-price {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  margin-bottom: 1rem;
}
.history-content .history-list .history-card .ps-name h2,
.history-content .history-list .history-card .history-price .price {
  font-size: 2rem;
  color: #252525;
  letter-spacing: -4%;
  line-height: 1.1;
  font-weight: normal;
}
.history-content .history-list .history-meja .booking-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.history-content .history-list .history-meja .meja-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.history-content .history-list .history-meja .meja-list .meja-item {
  background-color: #f1f1f1;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  font-size: 1.1rem;
}
.history-content .history-list .history-card .history-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}
